/* core */
.acf_postbox p.label label{
	text-align: left;
	font-size:16px !important;
}

.afd_label_left{
	float:left;
	width:30%;
	text-align: right;
}
.afd_label_space{
	float:left;
	width:5%;
}
.afd_input_left{
	float:left;
	width:65%;
}

.field_type-afd_hidden, .field_type-afd_hidden label{
	display:none !important;
}

.message{
	border: #DFDFDF solid 1px;
	border-radius: 3px;
	padding:20px;

}

.acf-checkbox-list, .acf-radio-list{
	list-style: none;
	margin:0;
	padding:0px 0px 5px 6px;
}
.acf-checkbox-list li, .acf-checkbox-list li label, .acf-radio-list li, .acf-radio-list li label{
	margin:0;
}
.acf-checkbox-list li ul li{
	margin-left:19px;

}

/* skeleton fix */
.acf-taxonomy-field ul.children{
	padding:0 !important;
	margin:0 !important;
}

.checkbox label, .radio label{
	font-size:16px;
	line-height:24px;
	
}
.checkbox input[type=checkbox]{
	margin-left:-25px;
	width:18px;
	height:18px;
/* 	-webkit-transform: scale(1.4,1.4);
-moz-transform: scale(1.4,1.4);
-o-transform: scale(1.4,1.4); */
}


.radio input[type=radio]{
	margin-left:-25px;
	width:18px;
	height:18px;
/* 	-webkit-transform: scale(1.4,1.4);
-moz-transform: scale(1.4,1.4);
-o-transform: scale(1.4,1.4); */
}

/* extended fields */
/* uploader */
.field_type-uigen_uploader .acf-taxonomy-field .categorychecklist-holder{
	max-height:400px;
}
.uploader_img{
	width:200px;
}
.uploader_message{
	font-size:12px;
}
.uploader_buttons{
	font-size:14px;
	margin-top:10px;
}
/* mass uploader */
.multi_uploader_row{
	border:1px solid #ccc; padding:3px; margin-bottom:3px;
}

/* googlemap */
.acf-google-map .canvas{
	display:none;
}


